* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    /* background-color: lightsalmon; */
    background-image: url('/img/bcg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* .line {
    width: 300px;
    height: 4rem;

} */

a {
    color: white;
    text-decoration: none;
}

.btn {
    display: flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 243, 184);
    border-radius: 8px;
    margin: 5px;
}

/* .btn .add {
    background-color: rgb(9, 145, 9);
} */

.btn:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.share-btn:hover {
    background-color: var(--clrFacebook);
    color: white;
}

img:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;
}