* {
    box-sizing: border-box;
}

/* html {
    font-family: , sans-serif;
} */

body {
    margin: 20px;
    background-color: lightsalmon;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
    display: flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
}