/******************************* PHONE **********************************/
@media(min-width: 0px) {

    .gallery-imgs,
    .gallery-my-memes {
        padding: 20px 20px;
    }

    .main-header-container {
        margin-bottom: 65px;
    }

    .main-header .logo {
        font-size: 1.5em;
        margin-left: 20px;
    }

    .main-nav li {
        width: 75px;
        margin: 0;
    }

    .main-meme-editor {
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 10px;
    }

    .canvas-container {
        width: 230px;
        height: 230px;
        margin: 0 auto;
        padding: 0;
    }

    .toolbar-container {
        margin: auto;
        width: 230px;
        height: 230px;
    }

    :root {
        --btnSize: 2rem;
    }

    .line-input {
        height: var(--btnSize);
        width: 210px;
        margin: 10px;
    }

    .btn,
    .color-fill {
        height: var(--btnSize);
        width: var(--btnSize);
        margin: 6px;
    }

    .font-select {
        width: calc(var(--btnSize)*2.3);
    }

    .btn-switch {
        width: calc(var(--btnSize)*1.65);
    }
}

/******************************* SMALL **********************************/
@media(min-width: 520px) {

    .gallery-imgs,
    .gallery-my-memes {
        padding: 20px 20px;
    }

    .main-header-container {
        margin-bottom: 65px;
    }

    .main-header .logo {
        font-size: 1.5em;
        margin-left: 20px;
    }

    .main-nav li {
        width: 80px;
    }

    .main-header.logo {
        margin-inline-start: 4rem;
    }

    .div-main-meme-editor {
        margin: auto 20px;
        height: 80vh;
    }

    .main-meme-editor {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 50%;
        width: 500px;
        margin: 0 auto;
    }

    .canvas-container {
        position: absolute;
        top: 50%;
        left: 10px;
        margin: 0;
        width: 230px;
        height: 230px;
    }

    .toolbar-container {
        position: absolute;
        top: 50%;
        right: 10px;
        margin: auto;
        width: 230px;
        height: 230px;
    }

    :root {
        --btnSize: 2rem;
    }

    .line-input {
        height: var(--btnSize);
        width: 210px;
        margin: 10px;
    }

    .btn,
    .color-fill {
        height: var(--btnSize);
        width: var(--btnSize);
        margin: 6px;
    }

    .font-select {
        width: calc(var(--btnSize)*2.3);
    }

    .btn-switch {
        width: calc(var(--btnSize)*1.65);
    }
}

/******************************* MEDIUM **********************************/
@media(min-width: 700px) {

    .gallery-imgs,
    .gallery-my-memes {
        padding: 20px 20px;
    }

    .main-header-container {
        margin-bottom: 65px;
    }

    .main-header .logo {
        font-size: 2.5em;
        margin-left: 20px;
    }

    .main-nav li {
        width: 95px;
    }

    .main-header.logo {
        margin-inline-start: 4rem;
    }

    .div-main-meme-editor {
        margin: auto 20px;
        height: 60vh;
    }

    .main-meme-editor {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 50%;
        width: 650px;
        margin: 0 auto;
    }

    .canvas-container {
        position: absolute;
        top: 50%;
        left: 10px;
        margin: 0;
        width: 300px;
        height: 300px;
    }

    .toolbar-container {
        position: absolute;
        top: 50%;
        right: 10px;
        margin: auto;
        width: 300px;
        height: 300px;
    }

    :root {
        --btnSize: 2.87rem;
    }

    .line-input {
        height: var(--btnSize);
        width: 280px;
        margin: 10px;
    }

    .btn,
    .color-fill {
        height: var(--btnSize);
        width: var(--btnSize);
        margin: 6px;
    }

    .font-select {
        width: calc(var(--btnSize)*2.3);
    }

    .btn-switch {
        width: calc(var(--btnSize)*1.65);
    }
}

/******************************* LARGE **********************************/
@media(min-width: 900px) {

    .gallery-imgs,
    .gallery-my-memes {
        padding: 20px 20px;
    }

    .main-header-container {
        margin-bottom: 65px;
    }

    .main-header .logo {
        font-size: 3em;
        margin-left: 20px;
    }

    .main-nav li {
        width: 105px;
    }

    .main-header.logo {
        margin-inline-start: 4rem;
    }

    .div-main-meme-editor {
        margin: auto 20px;
        height: 40vh;
    }

    .main-meme-editor {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 50%;
        width: 860px;
        margin: 0 auto;
    }

    .canvas-container {
        position: absolute;
        top: 50%;
        left: 10px;
        margin: 0;
        width: 400px;
        height: 400px;
    }

    .toolbar-container {
        position: absolute;
        top: 50%;
        right: 10px;
        margin: auto;
        width: 400px;
        height: 400px;
    }

    :root {
        --btnSize: 4rem;
    }

    .line-input {
        height: var(--btnSize);
        width: 370px;
        margin: 15px;
    }

    .btn,
    .color-fill {
        height: var(--btnSize);
        width: var(--btnSize);
        margin: 6px;
    }

    .font-select {
        width: calc(var(--btnSize)*2.2);
    }

    .btn-switch {
        width: calc(var(--btnSize)*1.6);
    }
}

/******************************* X-LARGE **********************************/
@media(min-width: 1100px) {

    .gallery-imgs,
    .gallery-my-memes {
        padding: 20px 20px;
    }

    .main-header-container {
        margin-bottom: 65px;
    }

    .main-header .logo {
        font-size: 3.5em;
        margin-left: 20px;
    }

    .main-nav li {
        width: 115px;
    }

    .main-header.logo {
        margin-inline-start: 4rem;
    }

    .div-main-meme-editor {
        margin: auto 20px;
        height: 20vh;
    }

    .main-meme-editor {
        display: flex;
        flex-direction: row;
        position: relative;
        /* height: 40%; */
        width: 1050px;
        margin: 0 auto;
    }

    .canvas-container {
        position: absolute;
        top: 50%;
        left: 10px;
        margin: 0;
        width: 500px;
        height: 500px;
    }

    .toolbar-container {
        position: absolute;
        top: 50%;
        right: 10px;
        margin: auto;
        width: 500px;
        height: 500px;
    }

    :root {
        --btnSize: 5.1rem;
    }

    .line-input {
        height: var(--btnSize);
        width: 456px;
        margin: 22px;
    }

    .btn,
    .color-fill {
        height: var(--btnSize);
        width: var(--btnSize);
        margin: 6px;
    }

    .font-select {
        width: calc(var(--btnSize)*2.15);
    }

    .btn-switch {
        width: calc(var(--btnSize)*1.58);
    }
}