/* SMALL */
@media(min-width: 300px) {

    .gallery-imgs,
    .gallery-my-memes {
        padding: 20px 20PX;
    }

    .main-meme-editor {
        display: flex;
        padding: 30px;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .canvas-container {
        margin: 15px;
    }

    .main-header .logo {
        font-size: 1.5em;
        margin-left: 20px;
    }

    .main-nav li {
        width: 80px;
    }

    .main-header.logo {
        margin-inline-start: 4rem;
    }

    .main-meme-editor.toolbar-container {
        margin-right: 6px;
    }

    .main-header-container {
        margin-bottom: 65px;
    }

    .canvas-container {
        width: 250px;
        height: 250px;
        margin: 20px auto;
        padding: 0;
    }

    .toolbar-container {
        margin: auto;
    }
}

/* medium */
@media(min-width: 870px) {

    .gallery-imgs,
    .gallery-my-memes {
        padding: 40px 40PX;
    }

    .main-header .logo {
        font-size: 2.5em;
        margin-left: 40px;
    }

    .main-nav li {
        width: 100px;
    }

    .main-meme-editor {
        display: flex;
        /* position: relative; */
        grid-column: 2;
        padding: 60px;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    .canvas-container {
        display: flex;
        width: 400px;
        height: 400px;
        margin: 20px auto;
        padding: 0;
    }

    .toolbar-container {
        display: flex;
    }
}

/* large */
@media(min-width: 1050px) {

    .gallery-imgs,
    .gallery-my-memes {
        padding: 40px 40PX;
    }

    .main-header .logo {
        font-size: 3.5em;
        margin-left: 60px;
    }

    .main-nav li {
        width: 120px;
    }

    .canvas-container {
        width: 500px;
        height: 500px;
        margin: 20px auto;
        padding: 0;
    }

    .toolbar-container {
        width: 500px;
        height: 500px;
        margin: 20px;
        padding: 0;
    }

    .line-input {
        height: 4rem;
        width: 460px;
        margin: 20px;
    }

    .color-fill {
        height: 5rem;
        width: 5rem;
        margin: 15px;
    }

    .color-label {
        height: 5rem;
        width: 5rem;
    }

    .btns {
        height: 5rem;
        width: 5rem;
    }
}