* {
    box-sizing: border-box;
}

.gallery-imgs {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-flow: dense;

    padding: 80px 80px;
    margin: 0 auto;
}

img {
    /* display: block; */
    width: 100%;
    border-radius: 10px;
}

img:hover {
    /* width: 105%; */
    rotate: 3deg;
    align-items: center;
    justify-content: center;
}