.main-header {
    position: sticky;
    top: 0px;
    width: 100vW;
    height: 80Px;
    background-color: orange;
    box-shadow: inset 0 -6px 0 var(--clrPrimary-2);
    grid-auto-flow: column;
}

.main-header .logo {
    font-family: eurofurence;
    font-size: 1.5em;
    color: white;
}

.main-nav li {
    display: flex;
    margin-right: 20px;
    font-family: lato-bold;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    /* /* border-left: 1px solid var(--clrPrimary-3); */
    text-shadow: 0 1px 0 var(--clrPrimary-3);
}