* {
    box-sizing: border-box;
}

.main-meme-editor {
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.toolbar-container {
    background-color: rgb(3, 66, 66);
    width: 400px;
    height: 400px;
    flex-direction: column;
    flex-wrap: wrap
}

.toolbar-btns {
    width: 500px;
    flex-direction: column;
    flex-wrap: wrap
}

.line-input {
    height: 4rem;
    width: 390px;
    margin: 5px;
}

.color-fill {
    height: 4rem;
    width: 4rem;
    margin: 5px;
}

.color-label {
    height: 4rem;
    width: 4rem;
    text-align: center;
    justify-items: center;
}

.download-btn a {
    color: grey;
}

.download-btn:hover a {
    color: black;
}

.font-select {
    width: calc(8rem + 10px)
}