* {
    box-sizing: border-box;
}

.main-meme-editor {
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.toolbar-container {
    background-color: #023047;
    width: 400px;
    height: 400px;
    flex-direction: column;
    flex-wrap: wrap
}

/* .toolbar-btns {
    width: 500px;
    flex-direction: column;
    flex-wrap: wrap
} */

.line-input {
    height: 4rem;
    width: 360px;
    margin: 20px;
}

.color-fill {
    height: 4rem;
    width: 4rem;
    margin: 5px;
}

.color-label {
    height: 4rem;
    width: 4rem;
    text-align: center;
    justify-items: center;
}

.download-btn a {
    color: grey;
}

.download-btn:hover a {
    color: black;
}

.font-select {
    width: calc(8rem + 10px)
}

.btn-delete {
    background-color: #ae2012;
    color: white;
}

.btn-add {
    background-color: green;
    color: white;
}

.btn-switch {
    background-color: #e9d8a6;
    color: darkslategrey;
}

.btn-move {
    background-color: #005f73;
    color: white;
}

.btn-size {
    background-color: #0a9396;
    color: white;
}

.btn-align {
    background-color: #94d2bd;
    color: darkslategrey;
}