@font-face {
    font-family: Impact, sans-serif;
    src: url("/fonts/impact.ttf");
}

@font-face {
    font-family: 'roblox';
    src: url("/fonts/roblox.ttf");
}

@font-face {
    font-family: 'orbitron';
    src: url("/fonts/orbitron.ttf");
}

@font-face {
    font-family: 'Monoton';
    src: url("/fonts/Monoton.ttf");
}